%main
  .image-wrapper
    .image
    .meta
      %h1
        %span.date
          %span.slabtext FEB11
          %span.slabtext 2016/850
        %span.location
          %span.slabtext Hartford
          %span.slabtext Michigan

  %nav.index
    %button.close x
    %h1 February 2016
    %ul.nav-items.row.omega-sm-4.omega-md-4.omega-lg-4
      - 16.times do
        %li.nav-item.col-sm-3
          %a{href: "#"}
